<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Example.WebAssembly</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <BoNavbar Items="items"></BoNavbar>
</div>

@code {
    private bool collapseNavMenu = true;
    private BoNavbar.Item[] items = new BoNavbar.Item[] {
        new BoNavbar.Item { Title="Home" },
        new BoNavbar.Item {
            Title="Boboom.Js",
            Children=new BoNavbar.Item[] {
                new BoNavbar.Item { Title = "Import", Link = "/demo/js/import" },
                new BoNavbar.Item { Title = "Storage", Link = "/demo/js/storage" },
            },
        },
        new BoNavbar.Item {
            Title="Boboom.Dom",
            Children=new BoNavbar.Item[] {
                new BoNavbar.Item { Title = "Anchor", Link = "/demo/dom/anchor" },
            },
        },
        new BoNavbar.Item { Title="Counter", Link="/counter" },
        new BoNavbar.Item { Title="Fetch Data", Link="/fetchdata" },
    };

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
